@page
@using Newtonsoft.Json;
@using ProjectsAPI;
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<section class="intro-first container">

	<div class="portrait">
		<img src="../img/porträttkopia.jpg" style="height: 400px;">
		</div>


	<div class="intro-container">
		<h5 class="text-center weather" style="color: #aba619; margin-right: 150px; margin-left: -250px;">
			Current Weather
		</h5>
		<div class="weather-info">
			<p><span style="color: #aba619">City:</span> @ViewData["City"]</p>
			<p><i class="fa-solid fa-temperature-three-quarters" style="color: #aba619"></i> @string.Format("{0:0}", ViewData["Temperature"])°C</p>
			<p><i class="fa-regular fa-droplet-percent" style="color: #aba619"></i>  @ViewData["Humidity"]%</p>
			<p><span style="color: #aba619">Description:</span> @ViewData["Description"]</p>
		</div>
	</div>

		<div class="portrait-section">

			<div class="portrait-info">
				<div class="intro-caption">
					<h1 id="welcome" class="headtext"></h1>
					<p class="headtext-under" style="text-shadow: 0 0 3px #333, 0 0 5px yellow;">.NET-Developer Student</p>
					<div class="social-media-buttons">
						<div>
							<a class="intro-buttons" href="https://www.facebook.com/fredrik.thomasson.3"><i class="fa-brands fa-facebook-f" style="margin-top: 2px; margin-right: 5px;"></i>Facebook</a>
						</div>
						<div>
							<a class="intro-buttons" href="https://www.instagram.com/janneasbest/"><i class="fa-brands fa-instagram" style="margin-top: 2px; margin-right: 5px;"></i>Instagram</a>
						</div>
						<div>
							<a class="intro-buttons" href="https://www.linkedin.com/in/fredrik-thomasson-219610277/"><i class="fa-brands fa-linkedin" style="margin-top: 2px; margin-right: 5px;"></i>Linkedin</a>
						</div>
						<div>
							<a class="intro-buttons" href="https://github.com/fredthom91"><i class="fa-brands fa-github" style="margin-top: 2px; margin-right: 5px;"></i>GitHub</a>
						</div>
					</div>
					<div class="social-media-buttons intro-button">
						<a class="intro-buttons" onclick="downloadFile()">Download CV</a>
					</div>
					<div>
					

				</div>
			</div>
		</div>
	</div>
</section>
<!--aboutme-->

<section id="aboutme" class="aboutme-section">
	<div class="container">
		<div class="aboutme-box">
			<div>
				<div class="aboutme-header">
					<h2 class="text-center" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">About me!</h2>
				</div>
				<div class="infoboxes">
					<div class="container undertextsinfo">

						<div class="infobox1 container">
							<div class="container">
								<h5 class="rubrik-text text-center">
									My Background</h3>
									<p>Graduated from a Programmer/Engineer 3 years study in Sweden.</p>
									<p>After school i have worked as a Carmechanic and Insulater.</p>
									<p>But for the last 9 years before i started my studies again i worked as a Ventilationinstaller on several companies. Worked my way up from a installer too overseer.</p>
									<p>Currently studying .NET-Developer at KYH-Högskola!</p>
							</div>
						</div>
						<div class="infobox2 container">
							<div class="service-block">
								<h5 class="rubrik-text text-center">
									Free-Time Fredrik</h3>
									<p>Love everything about motorvehicles. Had a car i built from just a dump to completer, with a motorswap and everything.</p>
									<p>Music have always also been a part of my life, been playing guitar for 15 years. Played in a band for 4 years but left because of indifferencies. But still play alone at home at times.</p>
									<p>Other then that i love carpentry, have renovated my own 2 houeses, the first house i renovated every little screw by myself. Still love to sketch and build, woodworking is theese days a passion for me.</p>
									<p>At last, im a big nerd, everything about computers and coding and also every superhero and villain from every universe are my go-to in discussions or movies!</p>
									<p>Currently living with my wife and lovely 2 sons in Norrtälje</p>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!--aboutme end-->
<!-- experience-->
<section id="experience" class="experience-box">
	<div class="exp-container">
		<div class="exp-container-info">
			<div class="headtext-section">
				<h2 class="headtext">
					My Experience
				</h2>
			</div>
			<div class="exp-both-boxes">
				<div class="exp-box1 container">
					<div class="expbox-backend">
						<h4 class="headtext-under1">
							Backend
						</h4>
						<p class="exp-text" style="font-weight: bold;">
							<img src="/img/c-sharp.png" style="height: 20px; width: 20px; margin-right: 10px;" />  C#
						</p>
						<p class="exp-text" style="font-weight: bold;">
							<img src="/img/sql-icon.png" style="height: 20px; width: 20px; margin-right: 10px;" />  SQL
						</p>
						<p class="exp-text" style="font-weight: bold;">
							<img src="/img/dotnet-icon.png" style="height: 20px; width: 20px; margin-right: 10px;" />  RP,EF
						</p>


					</div>
				</div>

				<div class="exp-box2 container">
					<div class="expbox-frontend">
						<h4 class="headtext-under2">
							Frontend
						</h4>


						<p class="exp-text" style="font-weight: bold;">
							<span style="margin-right: 8px;">HTML</span>  <img src="/img/html-icon.png" style="height: 20px; width: 20px; margin-right: 10px;" />
						</p>
						<p class="exp-text" style="font-weight: bold;">
							<span style="margin-right: 8px;">CSS</span>  <img src="/img/css-icon.png" style="height: 20px; width: 20px; margin-right: 10px;" />
						</p>
						<p class="exp-text" style="font-weight: bold;">
							<span style="margin-right: 8px;">JS</span>  <img src="/img/js-icon.png" style="height: 20px; width: 20px; margin-right: 10px;" />
						</p>

					</div>

				</div>

			</div>
			<p class="cvbuttons">
				<a onclick="downloadFile()" class="cv-button">Download CV</a>
			</p>

		</div>
	</div>
</section>
<!--experience end-->
<!--portfolio-->
<section id="portfolio" class="portfolio-section container">
	<div class="portfolio-container">
		<div class="portfolio-headtext container">
			<h2 class="headtext text-center mt-5">Portfolio</h2>
		</div>
		<div class="port-box container">
			<div class="all-port-boxes">
				<div class="port-box1">
					<div class="box1-info card cardboxes" style="background-color: #333; border: 2px solid #aba619; opacity: 75%;">
						<div>
							<h3 class="text-center headtext" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-decoration: underline;">
								@ViewData["Name2"]
							</h3>
							<div class="text-center" style="color: #aba619">@ViewData["Date2"]</div>
							<div class="text-center info-desc" style="color: #dad7d3">@ViewData["Info2"]</div>
						</div>
						<div style="display:flex; justify-content:center;">
							<a href="https://github.com/fredthom91/HotellApp" style="text-decoration: none;"><div class="intro-buttons">GitHub</div></a>
						</div>
						
					</div>
					
				</div>
				<div class="port-box2">
					<div class="box2-info card cardboxes" style="background-color: #333; border: 2px solid #aba619; opacity: 75%;">
						<div>
							<h3 class="text-center headtext" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-decoration: underline;">
							@ViewData["Name1"]
						</h3>
						<div class="text-center" style="color: #aba619">@ViewData["Date1"]</div>
						<div class="text-center info-desc" style="color: #dad7d3">@ViewData["Info1"]</div>
						</div>
						<div style="display:flex; justify-content:center;">
							<a href="https://github.com/fredthom91/Inl-mning2Bank" style="text-decoration: none;"><div class="intro-buttons">GitHub</div></a>
							<a href="https://bankruptcybank.azurewebsites.net/" style="text-decoration: none;"><div class="intro-buttons">Live Demo</div></a>
						</div>
					</div>
					
					
				</div>
			</div>
			<div class="all-port-boxes">
			<div class="port-box3">
				<div class="box3-info card cardboxes" style="background-color: #333; border: 2px solid #aba619; opacity: 75%;">
					<div>
							<h3 class="text-center headtext" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-decoration: underline;">
						@ViewData["Name3"]
					</h3>
					<div class="text-center" style="color: #aba619">@ViewData["Date3"]</div>
					<div class="text-center info-desc" style="color: #dad7d3">@ViewData["Info3"]</div>
						</div>
						<div style="display:flex; justify-content:center;">
							<a href="https://github.com/fredthom91/Inl-mning-HTML-CSS-JS" style="text-decoration: none;"><div class="intro-buttons">GitHub</div></a>
							<a href="https://fredthom91.github.io/Inl-mning-HTML-CSS-JS/" style="text-decoration: none;"><div class="intro-buttons">Live Demo</div></a>
						</div>
				</div>
				
			</div>
			<div class="port-box4">
				<div class="box4-info card cardboxes" style="background-color: #333; border: 2px solid #aba619; opacity: 75%;">
					<div>
							<h3 class="text-center headtext" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-decoration: underline;">
						@ViewData["Name4"]
					</h3>
					<div class="text-center" style="color: #aba619">@ViewData["Date4"]</div>
					<div class="text-center info-desc" style="color: #dad7d3">@ViewData["Info4"]</div>
						</div>
						<div style="display:flex; justify-content:center;">
							<a href="https://github.com/fredthom91/Inl-mningBankApi" style="text-decoration: none;"><div class="intro-buttons">GitHub</div></a>
						</div>
				</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
<!--portfolio end-->
<!-- testimonials-->
<div id="testimonials" class="text-center headtext-testi">
	<h3>Testimonials</h3>
</div>
<section class="testimonialcontainer container">

	<div class="slideshow-container">


		<div class="mySlides">
			<div class="testimonial-box text-center">
				<div class="testimonial-content w-100 bg-faded testi-slides">
					<p class="name-text"><i class="fa fa-quote-left fa-3x" aria-hidden="true" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></i></p>
					<p class="lead font-abril comment">Good and driven! Hopefully a future collegue!</p>
					<div class="testimonial-footer">
						<h4 class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Stephen Hawking</h4>
						<p class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">-United States</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides">
			<div class="testimonial-box text-center">
				<div class="testimonial-content w-100 bg-faded testi-slides">
					<p class="name-text"><i class="fa fa-quote-left fa-3x" aria-hidden="true" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></i></p>
					<p class="lead font-abril comment">I wish the best for you!</p>
					<div class="testimonial-footer">
						<h4 class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Mom</h4>
						<p class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">-Sweden</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides">
			<div class="testimonial-box text-center">
				<div class="testimonial-content w-100 bg-faded testi-slides">
					<p class="name-text"><i class="fa fa-quote-left fa-3x" aria-hidden="true" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></i></p>
					<p class="lead font-abril comment">This lad can do better!</p>
					<div class="testimonial-footer">
						<h4 class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Richard Chalk</h4>
						<p class="name-text" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">-Sweden</p>
					</div>
				</div>
			</div>
		</div>


		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>


	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>
</section>

<!-- testimonials end-->
<!--contact form-->
<section id="contact" class="contact-section h-100 box-background container">
	<div id="map" class="box-background"></div>
	<div class="container py-5">
		<div class="col-lg-8 col-md-6 col-sm-10 form-sec my-5 p-5 mx-auto form-container">
			<form method="post" action="https://formsubmit.co/fredde.thomasson@gmail.com">
				<h2 class="contact-header text-center" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Contact Me!</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="sr-only" for="formGroupExampleInput">Firstname</label>
							<input class="form-control" id="formGroupExampleInput" required name="firstname" placeholder="Firstname.." onfocus="this.placeholder=''" onblur="this.placeholder='Firstname..'" type="text">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="sr-only" for="formGroupExampleInput2">Lastname</label>
							<input class="form-control" id="formGroupExampleInput2" required name="lastname" placeholder="Lastname.." onfocus="this.placeholder=''" onblur="this.placeholder='Lastname..'" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="sr-only" for="formGroupExampleInput2">Email Address</label>
							<input class="form-control" id="formGroupExampleInput2" required name="email" placeholder="Email Address.." onfocus="this.placeholder=''" onblur="this.placeholder='Email Address..'" type="email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="sr-only" for="formGroupExampleInput2">Phone number</label>
							<input class="form-control" id="formGroupExampleInput2" required name="phonenumber" placeholder="Phonenumber.." onfocus="this.placeholder=''" onblur="this.placeholder='Phonenumber..'" type="tel">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="sr-only" for="formGroupExampleInput2">Message</label>
							<textarea class="form-control" placeholder="Enter your message here..." name="message" required rows="4" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your message here...'"></textarea>
						</div>
						<input type="hidden" name="_next" value="https://localhost:7092/DeliveredMessage">
						<div class="text-center">
							<button id="send-button" class="send-button">Send</button>
						</div>
						
						
						

					</div>
				</div>

			</form>
		</div>
	</div>
</section>

@section Scripts
{
	<script>
		var text1 = "Fredrik Thomasson";

		var counter1 = 0;
		var speed = 130;

		function typeWriter() {
			if (counter1 < text1.length) {
				document.getElementById("welcome").innerHTML += text1.charAt(counter1);
				counter1++;
				setTimeout(typeWriter, speed);
			}
		}
		typeWriter();
	</script>

	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			document.getElementById('confirmation-message').style.display = 'block';
		});
	</script>
}





